<link href="../../bower_components/polymer/polymer.html" rel="import"/>

<script>
    Window.Roomates = Window.Roomates || {};
    if (Roomates.BaseBehaviorImpl == undefined) {
        Roomates.BaseBehaviorImpl = {
            properties: {},

            registered: function () {
            },

            created: function () {
            },

            ready: function () {
            },

            attached: function () {
            }
        };
        Roomates.BaseBehavior = [
            Roomates.BaseBehaviorImpl
        ];
    }
</script>