<link href="../../bower_components/polymer/polymer.html" rel="import"/>

<script>
    Window.Roomates = Window.Roomates || {};
    if (Roomates.MenuBehaviorImpl == undefined) {
        Roomates.MenuBehaviorImpl = {
            properties: {},

            registered: function () {
            },

            created: function () {
            },

            ready: function () {
            },

            attached: function () {
            }
        };
        Roomates.MenuBehavior = [
            Roomates.MenuBehaviorImpl
        ];
    }
</script>